@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.landing {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ff0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%233a3a3a' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f10000' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232f2f2f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23e40000' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23252525' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d60000' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231b1b1b' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c90000' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23111111' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23bc0000' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23000000' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.landing h1, h2 {
    font-family: 'Manrope', sans-serif;
    text-shadow: #d7d7d7 10px 10px 10px;
}

.landing h1 {
    margin-top: 0px;
    color: rgb(244, 9, 9);
    font-weight: 900;
}

.landing h2 {
    color: rgb(15, 15, 15);
    font-weight: 600;
}

.menu {
    height: 100vh;
    background-color: #d7d7d7;
}

.list {
    height: 60vh;
}

@media screen and (min-width: 1801px) {
    .landing {
        padding-top: 30vh;
        height: 70vh;
    }

    .landing h1, h2 {
        padding-left: 40px;
    }

    .landing h1 {
        font-size: 160px;
    }

    .landing h2 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1800px) {
    .landing {
        padding-top: 30vh;
        height: 70vh;
    }

    .landing h1, h2 {
        padding-left: 40px;
    }

    .landing h1 {
        font-size: 130px;
    }

    .landing h2 {
        font-size: 65px;
    }
}

@media screen and (max-width: 1500px) {
    .landing {
        padding-top: 30vh;
        height: 70vh;
    }

    .landing h1, h2 {
        padding-left: 40px;
    }

    .landing h1 {
        font-size: 125px;
    }

    .landing h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .landing {
        padding-top: 30vh;
        height: 70vh;
    }

    .landing h1, h2 {
        padding-left: 40px;
    }

    .landing h1 {
        font-size: 115px;
    }

    .landing h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .landing {
        padding-top: 35vh;
        height: 65vh;
    }

    .landing h1, h2 {
        padding-left: 40px;
    }

    .landing h1 {
        font-size: 120px;
    }

    .landing h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 800px) {
    .landing {
        padding-top: 35vh;
        height: 65vh;
    }

    .landing h1, h2 {
        padding-left: 20px;
    }

    .landing h1 {
        font-size: 70px;
    }

    .landing h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .landing {
        padding-top: 35vh;
        height: 65vh;
    }

    .landing h1, h2 {
        padding-left: 20px;
    }

    .landing h1 {
        font-size: 60px;
    }

    .landing h2 {
        font-size: 25px;
    }
}
