@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');

body, .hero, html, ul{
    margin: 0%;
    padding: 0%;
}

.hero {
    padding-top: 2vh;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #2B3A55 0%, #212C42 25%, #171E30 51%, #1E243B 100%);  
    animation: AnimateBG 20s ease infinite;
    width: 100vw;
    height: 98vh;
    position: absolute;
}

.image {
    background-image: url(img/portrait.jpg);
    border: 1vw solid #fda7a7;
    border-radius: 30% 70% 44% 56% / 30% 47% 53% 70%;
    margin-top: 6vh;
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

h2, h3, a {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, a {
    margin-left: 2vw;
    margin-bottom: 0%;
    text-transform: uppercase;
}

h1, h3 {
    margin-top: 0%;
}

h1, a {
    color: #fda7a7;
}

a {
    padding-top: 20px;
    position: relative;
    text-decoration: none;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #E8C4C4;
    transition: 0.5s ease-out;
}

a:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

a:hover {
    color: #E8C4C4;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
}

h2 {
    font-weight: 400;
}

h2, h3 {
    color: #E8C4C4;
}

h3 {
    font-weight: 200;
}

@media screen and (min-width: 601px) {
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 6vw;
        margin-top: -12vh;
    }

    h3 {
        font-size: 4vw;
    }

    a {
        font-size: 2vw;
    }

    .image {
        margin-left: 70vw;
        width: 25vw;
        height: 25vw;
        background-size: 25vw;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 22vw;
    }

    h2 {
        font-size: 7vw;
        margin-top: 0vh;
    }

    h3 {
        font-size: 7vw;
    }

    a {
        font-size: 4vw;
    }

    .image {
        margin-left: 50vw;
        width: 45vw;
        height: 45vw;
        background-size: 45vw;
    }
}